[submodule "csc-utils"]
	path = csc-utils
	url = git://github.com/commonsense/csc-utils.git
[submodule "divisi2"]
	path = divisi2
	url = git://github.com/commonsense/divisi2.git
[submodule "conceptnet"]
	path = conceptnet
	url = git://github.com/commonsense/conceptnet.git
[submodule "openmind-commons"]
	path = openmind-commons
	url = git://github.com/rspeer/openmind-commons.git
[submodule "conceptdb"]
	path = conceptdb
	url = git://github.com/commonsense/conceptdb.git
[submodule "simplenlp"]
	path = simplenlp
	url = git://github.com/commonsense/simplenlp.git

