# You can set up a complete OMCS environment by running the following command
# inside a virtualenv with pip installed:
#   
#   pip install -r requirements.txt
#
# These packages will be installed in 'develop' mode into the src/ directory
# of your Python virtual environment. Note that your git repositories will
# not allow pushing, because you probably don't have access.
numpy
nose
ipython
readline
csc-pysparse
-e git+http://github.com/commonsense/csc-utils.git#egg=csc-utils
-e git+http://github.com/commonsense/conceptnet.git#egg=conceptnet
-e git+http://github.com/commonsense/divisi.git#egg=divisi
-e git+http://github.com/commonsense/divisi2.git#egg=divisi2

